<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Hubiquitus administration</title>
        <link rel="stylesheet" href="public/css/master.css" />
        <script type="text/javascript" charset="utf-8" src="libs/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="libs/underscore-min.js"></script>
        <script type="text/javascript" charset="utf-8" src="libs/backbone.js"></script>
        <script type="text/javascript" charset="utf-8" src="libs/hubiquitusjs/lib/transports/socketio/socket.io.js"></script>
        <script data-main="libs/hubiquitusjs/hubiquitus" src='libs/hubiquitusjs/lib/require.js'></script>
        <script type="text/javascript" charset="utf-8" src="js/app.models.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/connection.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/app.views.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/app.js"></script>
    </head>

    <body>
        <div id="hConsole">
            <header>
                <h1>Console hubiquitus</h1>
                <span id="userConnected"></span>
                <span id="requete"></span>
                <span id="status"></span> 
            </header>
            <div id="content">
            </div>
        </div>
    </body>
    <script type="text/template" id="template-connection">
        <form id="connectionForm">
            <span class="alert"></span>
            <fieldset>
                <legend align=top> Connection </legend>
                <p class="double">
                    <label>User<span id="star"> *</span> : <span class="info">(Format: user@domain)</span></label>
                    <input id="user" type="text"/><br/>
                </p>
                <p class="double"> 
                    <label>Password<span id="star"> *</span> :</label><input id="password" type="text"/><br/>
                </p>
                <p class="double"> 
                    <label>XMPP Server Host :</label><input id="serverHost" type="text"/><br/>
                </p>
                <p class="double"> 
                    <label>XMPP Server Port :</label><input id="serverPort" type="text"/><br/>
                </p>
                <p class="double"> 
                    <label>Transport<span id="star"> *</span> : </label>
                    <span>&nbsp; &nbsp; Bosh</span> <input type=radio name="transport" value="bosh"/>
                    <span>&nbsp; &nbsp; &nbsp; Socketio</span> <input type=radio name="transport" value="socketio" checked="checked"/>
                </p>
                <p class="double"> 
                    <label>Endpoint<span id="star"> *</span> :<span class="info">(Format: 'http://host:port/namespace')</span></label><input id="endpoints" type="text"/><br/>
                </p>
                <p class="simple">
                    <input type="button" id="connection" value="Connection" onClick="retrieveRadio(this.form.transport)"/>
                </p>
            </fielset>
        </form>
    </script>  
    <script type="text/template" id="template-hConsole">
        <div id="menu">
            <ul id="tabs">
                <li id="homeTab" class="active"> Accueil </li>
                <li id="channelTab"> Channel </li>
            </ul>
        </div>
        <div id="tabContent">
            HOME !
        </div>
    </script>
    <script type="text/template" id="template-channelListPage">
        <section id="list">
            <h2>List of channels</h2>
            <table id="listChannels">
                <th>Id</th>
                <th>Host</th>
                <th>Owner</th>
                <th>Description</th>
                <th>Active</th>
                <% for ( var i = 0 ; i < (current.length) ; i++ ) { %>
                    <tr id="channel_row" class="row">
                        <td><%= current[i].attributes.chid %></td>
                        <td><%= current[i].attributes.host %></td>
                        <td><%= current[i].attributes.owner %></td>
                        <td><%= current[i].attributes.chdesc %></td>
                        <td><%= current[i].attributes.active %></td>
                    </tr>
                <% } %>
            </table><br/>
            <input id="createChannel" type="button" value="Create channel">
        </section>
    </script>
    <script type="text/template" id="template-channelFormPage">
        <form id="form">
            <header id="header_form"><br/>
                <span id="title" class="underline dixHuit">Create your channel</span><br/><br/>
                <span class="alert"></span><br/>
            </header>
            <table>
            <tr id="tr_owner">
                <td>Owner<span id="star"> *</span></td>
                <td>
                    <INPUT type=text id="owner" value=" " size="22" disabled="disabled"/>
                </td>
            </tr>
            <tr id="tr_id">
                <td>Id<span id="star"> *</span></td>
                <td>
                    <input id="chid" type=text  size="22"/>
                </td>
            </tr>
            <tr id="tr_host">
                <td>Host<span id="star"> *</span></td>
                <td>
                    <INPUT type=text id="host" size="22"/>
                </td>
            </tr>
            <tr id="tr_desc">
                <td>Description</td>
                <td>
                    <TEXTAREA rows="3"cols="30" name="chdesc" id="chdesc"></TEXTAREA>
                </td>
            </tr>
            <tr id="tr_priority">
                <td>Priority</td>
                <td>
                    <SELECT name="priority" id="priority">
                        <OPTION VALUE="notDefined"></OPTION>
                        <OPTION VALUE="trace">Trace</OPTION>
                        <OPTION VALUE="info">Info</OPTION>
                        <OPTION VALUE="warning">Warning</OPTION>
                        <OPTION VALUE="alert">Alert</OPTION>
                        <OPTION VALUE="critical">Critical</OPTION>
                        <OPTION VALUE="panic">Panic</OPTION>
                    </SELECT>
                </td>
            </tr>
            <tr id="tr_location">
                <td>Location_channel</td>
                <td id="extra_inputs">
                    Long : <INPUT type=text id="longitude" size="22"/><br/>
                    Lat :   <INPUT type=text id="latitude" size="22"/><br/>
                    Address :  <INPUT type=text id="addr" size="22"/><br/>
                    ZIP :  <INPUT type=text id="zip" size="22"/><br/>
                    City :  <INPUT type=text id="city" size="22"/><br/>
                    Country :  <INPUT type=text id="country" size="22"/><br/>
                    <span class="underline"> Extra </span>
                    <div id="extra1">
                        <li>
                            <INPUT id="extra_name1" type="text" size="2"/>
                            <INPUT id="extra_value1" type="text" size="2"/>
                            <input id="addExtra1" class="add" type="button" value="A" onClick="addExtraInputs(1)"/>
                            <input id="deleteExtra1" class="delete" type="button" value="X" style="display:none;" onClick="deleteInputs(this)"/>
                        </li>
                    </div>
                </td>
            </tr>
            <tr id="tr_participants">
                <td>Participants<span id="star"> *</span></td>
                <td id="participants_input">
                    <div id="participant1">
                        <input type=text id="jid_participant1" size="22"/>
                        <input type=button id="addParticipant1" value="A" 
                            onClick="addParticipantInput(1)"/>
                        <input type=button id="deleteParticipant1" value="X" style="display:none;" 
                            onClick="deleteInputs(this)"/>
                    </div>
                </td>
            </tr>
            <tr id="tr_active">
                <td>Active<span id="star"> *</span></td>
                <td>
                    True : <INPUT type=radio name="active" value="true"/>
                    <br>False : <INPUT type=radio name="active" value="false"/>
                </td>
            </tr>
            <tr id="tr_headers">
                <td>Headers</td>
                <td id="header_inputs">
                    <div id="header1">
                        hkey : <input type=text id="key1" size="2"/>
                        hvalue : <input type=text id="value1" size="2"/>
                        <input id="addHeader1" class="add" 
                            type="button" value="A" onClick="addHeaderInputs(1)"/>
                        <input id="deleteHeader1" class="delete" type="button" value="X" 
                            style="display:none;" onClick="deleteInputs(this)"/>
                    </div>
                </td>
            </tr>
            </table><br/>
            <input id="create" type="button" value="Create" onClick="retrieveRadio(this.form.active)"/>
            <input id="modify" type="button" value="Save" onClick="retrieveRadio(this.form.active)"/>
            <input id="cancel" type="button" value="Cancel"/>
        </form>
    </script>
</html>