<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>hConsole</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body data-ng-app="hconsoleApp">

<div class="navbar navbar-inverse navbar-fixed-top" data-ng-controller="NavbarCtrl">
    <div class="navbar-inner">
        <div class="container">
            <span class="brand">
                <img src="images/connected.png" data-ng-cloak data-ng-show="$root.state == 'connected'"/>
                <img src="images/connecting.png" data-ng-cloak data-ng-show="$root.state == 'connecting'"/>
                <img src="images/disconnected.png" data-ng-cloak data-ng-show="$root.state == 'disconnected'"/>
                <img src="images/error.png" data-ng-cloak data-ng-show="$root.state == 'error'"/>
                Hubiquitus Console
                <span data-ng-cloack data-ng-show="$root.url">@ {{ $root.url }}</span>
            </span>

            <div class="nav-collapse collapse" data-ng-cloack data-ng-show="$root.url">
                <p class="navbar-text pull-right">
                    <a href="#" class="navbar-link" data-ng-click="nodeView($event)">node view</a> |
                    <a href="#" class="navbar-link" data-ng-click="physicView($event)">physical distribution</a> |
                    <a href="#" class="navbar-link" data-ng-click="logicView($event)">logical distribution</a> |
                    <a href="#" class="navbar-link" data-ng-click="disconnect($event)">disconnect</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container" data-ng-view></div>

<!-- build:js scripts/vendor/hubiquitus4js.js -->
<script src="components/hubiquitus4js/hubiquitus-min.js"></script>
<!-- endbuild -->
<!-- build:js scripts/vendor/jquery.js -->
<script src="components/jquery/jquery.js"></script>
<!-- endbuild -->
<!-- build:js scripts/vendor/angular.js -->
<script src="components/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:js scripts/vendor/highcharts.js -->
<script src="components/highcharts/highcharts.src.js"></script>
<!-- endbuild -->


<script src="http://d3js.org/d3.v3.js"></script>

<!-- build:js scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/node.js"></script>
<script src="scripts/controllers/logicalDistribution.js"></script>
<script src="scripts/controllers/physicalDistribution.js"></script>
<script src="scripts/controllers/connect.js"></script>
<script src="scripts/controllers/navbar.js"></script>
<script src="scripts/directives/chart.js"></script>
<script src="scripts/services/hubiquitus.js"></script>
<script src="scripts/services/circlegraph.js"></script>
<script src="scripts/services/treegraph.js"></script>
<script src="scripts/services/datatree.js"></script>
<!-- endbuild -->

</body>
</html>
