<style>
    html, body {
        background: #f3f3f3;
        transition: all linear 1s;
    }

    .actors .row-fluid {
        border-top: 1px solid #D5D5D5;
        padding-top: 10px;
    }

    .actors .row-fluid:first-child {
        border-top: none;
    }

    .actors .row-fluid .span2:last-child {
        text-align: right;
    }




    circle {
      fill: rgb(31, 119, 180);
      fill-opacity: .25;
      stroke: rgb(31, 119, 180);
      stroke-width: 1px;
    }

    .leaf circle {
      fill: #ff7f0e;
      fill-opacity: 1;
      stroke: white;
    }

    .session circle {
      fill: red;
    }
    .channel circle {
      fill: green;
    }
    .geteway circle {
      fill: yellow;
    }
    .auth circle {
      fill: purple;
    }
    .generic circle {
      fill: grey;
    }

    text {
      font: 10px sans-serif;
    }
</style>

<div id="graphSpace" class="row-fluid show-grid">
    Distribution logique
</div>