<style>
    html, body {
        background: #f3f3f3;
        transition: all linear 1s;
    }

    .actors .row-fluid {
        border-top: 1px solid #D5D5D5;
        padding-top: 10px;
    }

    .actors .row-fluid:first-child {
        border-top: none;
    }

    .actors .row-fluid .span2:last-child {
        text-align: right;
    }




    
    .node circle {
      cursor: pointer;
      fill: #fff;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .node text {
      font-size: 11px;
    }

    path.link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }
</style>

<div id="graphSpace" class="row-fluid show-grid">
    Distribution physique
</div>